/* .carousel_container{
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

} */

.carousel_container{
   height: 50%;
    width: 50%;
    

}

.img_size {
    max-height: 200px; /* 设置最大高度，可以根据需要调整 */
    width: auto; /* 自动调整宽度以保持原始比例 */
}




/* If screen size is more than 768px wide */
@media screen and (max-width: 481px ) {
    .img_size {
        max-height: 200px; /* 设置最大高度，可以根据需要调整 */
        width: auto; /* 自动调整宽度以保持原始比例 */
    }



    
  }


@media screen and  (max-width: 768px) and (min-width: 482px){
    .img_size {
        max-height: 200px; /* 设置最大高度，可以根据需要调整 */
        width: auto; /* 自动调整宽度以保持原始比例 */
    }

    
  }


 /* If screen size is more than 1200px wide, */
@media screen and (max-width: 1200px) and (min-width: 768px) {
    .img_size {
        max-height: 200px; /* 设置最大高度，可以根据需要调整 */
        width: auto; /* 自动调整宽度以保持原始比例 */
    }

  }



   /* If screen size is more than 1750px wide, */
@media screen and (min-width: 1750px) {
    .img_size {
        max-height: 200px; /* 设置最大高度，可以根据需要调整 */
        width: auto; /* 自动调整宽度以保持原始比例 */
    }


  }
